<html>
  <link href="/media/blueprint/screen.css" media="screen, projection", rel="stylesheet", type="text/css">
  <body>
	<div class="container">
	  <div class="span-16">

		{% if member %}
	
		<h3>Recent Health Care Senate Speeches by <a href="http://www.govtrack.us/congress/person.xpd?id={{ member.govtrack_id }}">Sen. {{ member.full_name }}</a> ({{ member.party }}-{{ member.state }})</h3>
	 	<hr>
	
	    {% for appearance in appearances %}
	       <p>{{ appearance.real_date|date:"F d, Y" }}: <a href="{{ appearance.url }}">{{ appearance.title }}</a></p>
	    {% endfor %}

	  	{% else %}

		<h3>Oops! We didn't recognize that member. Please try again.</h3>

		{% endif %}
		</div>
		<div class="span-16">brought to you via the Congress API of <a href="http://developer.nytimes.com">nytimes.com</a> and <a href="http://twitter.com/derekwillis">derekwillis</a></div>
  </body>
</html>